@charset "utf-8";

body  {
  background-color: #eee;
}

main  {
  width: 400px;
  margin: 0 auto;
  background-color: pink;
}
#main-imge {
  height: 266px;
}
img {
  vertical-align: bottom;
}

button {
  all:unset;
  width: calc(100% /2);
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  
}

.continer1 {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  
}
/* .title {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  
} */

.titlePic {
  width: calc( (100% - 16px) / 3 );
  cursor: pointer;
  opacity: .4;
  border: solid 3px slategray;
  border-radius: 15%;
  box-sizing: border-box;

}

.active {
  opacity: 1;
}

h1 {
  font-size: 24px;
  border-bottom: 1px solid;
  padding: 8px 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border: solid black 1px;
  user-select: none;
}

h3 {
  text-align: center;
}

#pear {
  background-color: bisque;
  width: 50%;
  margin: 0 auto 10px;
  user-select: none;
}

#Strawberry {
  background-color: pink;
  width: 50%;
  margin: 0 auto 10px;
  user-select: none;
}




dl {
  margin: 0;
  background-image: url();

}

dl>div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-bottom: gray solid 1px;
  background-color: #fff;
}


dt::before {
  content: '・';

}

dt::after {
  content: '+';

  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform 1s;
}


dl>div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  margin: 0;
  padding: 8px;
  display: none;
}

dd::before {
  content: '';
}


dl>div.appear dd {
  display: block;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.continer>img {
  width: 120px;
  height: 220px;
  margin-right: 16px;
}

.continer {
  display: flex;
}

.continer>table {
  letter-spacing: 1px;
  line-height: 12px;
  /* background-color: rgb(41, 251, 41); */
}

th {
  height: 50px;
  background-color: azure;

}

td {
  background-color: aliceblue;
  line-height: 2;
  text-align: center;

}

@media (max-width: 799px) {
  th {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }
}